.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.header_1,
.header_2,
.footer_1{float: left; margin: 0px 10px 0px 10px;} 

.header_1 {width: 400px;}
.header_2 {width: 530px;}

.grid_1 {width: 60px;}
.grid_2 {width: 140px;}
.grid_3 {width: 220px;}
.grid_4 {width: 300px;}
.grid_5 {width: 380px;}
.grid_6 {width: 460px;}
.grid_7 {width: 540px;}
.grid_8 {width: 620px;}
.grid_9 {width: 700px;}
.grid_10 {width: 780px;}
.grid_11 {width: 860px;}
.grid_12 {width: 940px;}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {display: inline; float: left; margin-left: 10px; margin-right: 10px;}

.page .prefix_1 {margin-left: 90px;}
.page .prefix_2 {margin-left: 170px;}
.page .prefix_3 {margin-left: 250px;}
.page .prefix_4 {margin-left: 330px;}
.page .prefix_5 {margin-left: 410px;}
.page .prefix_6 {margin-left: 490px;}
.page .prefix_7 {margin-left: 570px;}
.page .prefix_8 {margin-left: 650px;}
.page .prefix_9 {margin-left: 730px;}
.page .prefix_10 {margin-left: 810px;}
.page .prefix_11 {margin-left: 890px;}

.page .suffix_1 {margin-right: 80px;}
.page .suffix_2 {margin-right: 160px;}
.page .suffix_3 {margin-right: 240px;}
.page .suffix_4 {margin-right: 320px;}
.page .suffix_5 {margin-right: 400px;}
.page .suffix_6 {margin-right: 480px;}
.page .suffix_7 {margin-right: 560px;}
.page .suffix_8 {margin-right: 640px;}
.page .suffix_9 {margin-right: 720px;}
.page .suffix_10 {margin-right: 800px;}
.page .suffix_11 {margin-right: 880px;}

.page2 .prefix_1 {margin-left: 90px;}
.page2 .prefix_2 {margin-left: 170px;}
.page2 .prefix_3 {margin-left: 250px;}
.page2 .prefix_4 {margin-left: 330px;}
.page2 .prefix_5 {margin-left: 410px;}
.page2 .prefix_6 {margin-left: 490px;}
.page2 .prefix_7 {margin-left: 570px;}
.page2 .prefix_8 {margin-left: 650px;}
.page2 .prefix_9 {margin-left: 730px;}
.page2 .prefix_10 {margin-left: 810px;}
.page2 .prefix_11 {margin-left: 890px;}

.page2 .suffix_1 {margin-right: 80px;}
.page2 .suffix_2 {margin-right: 160px;}
.page2 .suffix_3 {margin-right: 240px;}
.page2 .suffix_4 {margin-right: 320px;}
.page2 .suffix_5 {margin-right: 400px;}
.page2 .suffix_6 {margin-right: 480px;}
.page2 .suffix_7 {margin-right: 560px;}
.page2 .suffix_8 {margin-right: 640px;}
.page2 .suffix_9 {margin-right: 720px;}
.page2 .suffix_10 {margin-right: 800px;}
.page2 .suffix_11 {margin-right: 880px;}

.tspacer_1 {margin-top: 10px;}
.tspacer_2 {margin-top: 20px;}
.tspacer_3 {margin-top: 30px;}
.tspacer_4 {margin-top: 40px;}
.tspacer_5 {margin-top: 50px;}
.tspacer_6 {margin-top: 60px;}

.bspacer_1 {margin-bottom: 10px;}
.bspacer_2 {margin-bottom: 20px;}
.bspacer_3 {margin-bottom: 30px;}
.bspacer_4 {margin-bottom: 40px;}
.bspacer_5 {margin-bottom: 50px;}
.bspacer_6 {margin-bottom: 60px;}

.footer_1 {width: 940px;}